
body {
	background-image: linear-gradient(to bottom, rgba(30, 9, 9, 0.768),
		rgba(0, 0, 0, 0.434)), url("images/dwnld.jpeg");
	/* Replace 'your-image.jpg' with the path to your background image */
	background-size: cover; /* Cover the entire viewport */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* Fixed background so it doesn't scroll with the content */
	background-position: center center; /* Center the background image */
	
	/* Background color with transparency for the overlay */
}